.header {
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
}
.header__logo_icon {
  margin-top: 5px;
  width: 53px;
  height: 40px;
}
.header__menu-button {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  margin-left: auto;
  background: transparent;
  margin-right: -15px;
}
.header__menu-icon {
  padding-left: 0;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
  display: inline-block;
}

.headline {
  max-width: 100%;
  display: flex;
  margin: 15px 6px;
  flex-wrap: wrap;
  margin: 0 7%;
}
@media screen and (min-width: 1200px) {
  .headline {
    max-width: 100%;
    max-height: 100%;
  }
}
.headline__block {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-right: 13px;
}
@media screen and (max-width: 1199px) {
  .headline__block {
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .headline__block {
    margin: 660px auto 0;
  }
}
.headline__block_image {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .headline__block_image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
  }
}
.headline__block_text {
  text-align: center;
}

.main {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.block {
  padding: 10px;
  display: flex;
  max-width: 50%;
}
.block__img {
  max-height: 100%;
  max-width: 50%;
}
.block__text {
  margin-left: 10px;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  .top-section__midle {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
.top-section__midle_images {
  display: none;
}
@media screen and (min-width: 1200px) {
  .top-section__midle_images {
    display: flex;
    position: absolute;
    z-index: 0;
    background-image: url("images/image-background.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top-section__midle_images-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .top-section__midle_images-button {
    display: block;
    margin: auto;
  }
  .top-section__midle_images-button-type {
    width: 200px;
    height: 60px;
    background-color: white;
    border: none;
    z-index: 1;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
  }
  .top-section__midle_images-button-type:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
  }
  .top-section__midle_images-button-type:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
  }
}

.button_tno {
  position: relative;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px, rgba(100, 100, 100, 0.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px/100%;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%), linear-gradient(to right, white, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0.3)), linear-gradient(to right, #7d7d7d, rgba(255, 255, 255, 0.9) 45%, rgba(125, 125, 125, 0.5)), linear-gradient(to right, #7d7d7d, rgba(255, 255, 255, 0.9) 45%, rgba(125, 125, 125, 0.5)), linear-gradient(to right, #dfbeaa, rgba(255, 255, 255, 0.9) 45%, rgba(223, 190, 170, 0.5)), linear-gradient(to right, #dfbeaa, rgba(255, 255, 255, 0.9) 45%, rgba(223, 190, 170, 0.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
}

.button_tno:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.button_tno:active {
  top: 1px;
}

/*# sourceMappingURL=style.css.map */
