.navigation {
    display: block;
    z-index: 1;
    position: absolute;
    right: 50px;
    top: 10px;
}



.widget {
    @include for-large-up {
        // display: none;
        padding: 20px 30px;
        background: white;
        font-family: 'Roboto', sans-serif;
    }

    &-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #222;
        font-size: 16px;
        padding-left: 15px;
        margin-bottom: 15px;
        border-left: 2px solid #b99d61;
    }

    &-list {
        padding: 0;
        list-style: none;


        &:before {
            content: "\2014";
            margin-right: 14px;
        }

        & a {
            text-decoration: none;
            outline: none;
            display: block;
            padding: 6px 0;
            letter-spacing: 1px;
            font-weight: 300;
            color: #444;
            transition: .3s linear;

            &:hover {
                color: #b99d61;
            }
        }

    }
}