

.header {
    height: 64px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    &__logo {
       
        &_icon {
            margin-top: 5px;
            width: 53px;
            height: 40px;
            
        }
    }
    
    &__menu-button {
        width: 58px;
        border: none;
        border-left: 1px solid #00000026;
        
        margin-left: auto;
        background: transparent;
        margin-right: -15px;
        // padding-left: 0px;
    }
    &__menu-icon {
        padding-left:0 ;
        width: 18px;
        height: 13px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
        display: inline-block;
      }
}