.headline {
    max-width: 100%;
    display: flex;
    margin: 15px 6px;
    flex-wrap: wrap;
    &__block{
        max-width: 50%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-right: 13px;
        
       
        &_image{
            max-width: 100%;
        }
        &_text {
            text-align: center;
        }
    }
}   

