@import 'breakpoints.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'main.scss';


*{
    box-sizing: border-box;
}

html,
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    max-width: 100%;
    overflow-x: hidden;

}

.top-section {
    @include for-large-up {
    }

    &__midle{
        @include for-large-up {
            width: 100%;
            height: 100%;
            margin: auto;
        }
        &_images {
            display: none;
            @include for-large-up {
            display: flex;
            position: absolute;
            z-index: 0 ;
            background-image: url("images/123.jpg");
            background-attachment: fixed ;
            width: 100%;
            height: 100%;
            background-repeat:no-repeat;
            background-size: cover;
            &-button{
                display: none;
                @include for-large-up {
                    display: block;
                    margin: auto;
                    &-type { 
                        width: 200px;
                        height: 60px;
                        background-color: white;
                        border: none;
                        z-index: 1;
                        display: inline-block;
                        color: white;
                        text-decoration: none;
                        padding: .5em 2em;
                        outline: none;
                        border-width: 2px 0;
                        border-style: solid none;
                        border-color: #FDBE33 #000 #D77206;
                        border-radius: 6px;
                        background: linear-gradient(#F3AE0F, #E38916) #E38916;
                        transition: 0.2s;

                        &:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
                        &:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
                    }
            }
    
             }
        }
        
    }
}
}
